html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh; 
    width: 100%;

    color: white;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}



.container {
    background: #13233b;
    padding: 30px;
    border-radius: 16px;
    width: 700px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);

    max-height: 80vh;     
    overflow-y: auto;      
    scrollbar-width: thin; 
}


h1 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-group input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: #1c2f4d;
    color: white;
    flex: 1;
}

#addBtn {
    background: #516dff;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.filter-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.filter-group button {
    background: #1c2f4d;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.filter-group .danger {
    background: #ff4d4d;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    background: #1c2f4d;
}

thead th {
    padding: 12px;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #233753;
}

.status-done {
    color: #79ff79;
}

.action-btn {
    background: #516dff;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: white;
    margin-right: 6px;
}

.delete-btn {
    background: #ff4d4d;
}

.empty {
    text-align: center;
    padding: 20px;
}

.footer-credit {
    position: fixed;
    bottom: 15px;
    right: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.9;
    letter-spacing: 0.5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
